body {
	width: 100%;
	margin: auto;
	background-color: #fff8e7;
}
/*---------Top container------------
*/
#topContainer{
	background-image: url("cutecoffee1.jpg");
	background-repeat: no-repeat;
  background-position: center;	
  height: 300px;
  width: 100%;
}

#logo{
	margin: 0;
	position: absolute;
	left: 50%;
	text-align: center;
}

#name{
 	font-family: 'Old English Five', sans-serif;
 	color: white;
	font-size: 30px;
	text-align:center;
	width: 100%;
	float: right;
	display: inline-block;
}
#cart{
	float: right;
	display: inline-block;
}

/*--------------------------------
*/
#toolBar{
	overflow: hidden;
	position: fixed;
	margin: auto;
	top: 0;
	width: 100%;
	background-color: #fff8e7;
	padding-bottom: 100px;
}
#toolBar a{
	font-size: 17px;
	color: black;
	padding: 5px;
}

#searchBar{
	float: right;
}

#cart{
	float: right;
}
.cartbtn{
	background-color: whitesmoke;
	border:none;
	cursor:pointer;
}
span{
	display: inline-block;
}

/*---------Product side (left)--------------
*/
#productSide{
	float: left;
	width: 50%;
	border-right: 2px solid black;
	margin-left: 10%;
}

#coffeebeanbagImage{
	text-align: center;
	padding: 30px;
}

#desciption_heading{
	text-align: left;
}

#descriptions_top{
	padding: 20px;
	text-align: center;
}

#description_bottom{
	text-align: left;
}
/*--------------------------------
*/
#optionSide{
	float: right;
	margin-right: 15%;
	width: 20%;
}

/*-------Choice bar-------------
*/

/* quantity and price containers */
#quantities{
	width: 100%;
}
#quantity{
	width: 20%;
	float: center;
	text-align: center;
	display: inline-block;
}
#price{
	float: left;
	display: inline-block;
}

/* adding product to the cart */
#addcart button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
#addcart button:hover {
  opacity: 0.7;
}
#addcart{
	padding:15px;
	float: right;
}
/* suggested product */
#suggestProduct{
	width: 100%;
	float: left;
	padding-top: 50px;
  padding-bottom: 50px;
}

div.pictures img{
	padding: 40px;
	float: right;
}

div.pictures:hover{
	background-color: lightcyan;
}

div.sugname {
  font-size: 20px;
  padding: 10px;
  text-align: left;
 }

div.sugdescribe {
  text-align: center;
 }

